@model List<TCC_System_Application.ArduinoService.PostVM>
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

    <style>
        /* Aplica a classe .no-style ao contêiner desejado */
        .no-style * {
            all: unset !important;
            margin: 0 !important;
            padding: 0 !important;
            font-size: inherit !important;
            color: inherit !important;
            background: transparent !important;
            /* E outras propriedades que você queira sobrescrever */
        }
    </style>
}

@{
    ViewBag.Title = "Home Page";
}

<div class="container-lg">
    <div class="card">
        <div class="card-body my-3">
            @if (Model != null)
            {
                <div class="row row-cols-1 row-cols-sm-2">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="small text-muted">@item.RecordCreationDate</div>
                                    <h2 class="card-title h4">@item.Title</h2>
                                    <p class="card-text no-style">
                                        @Html.Raw((item.Body.Length > 200 ? item.Body.Substring(0, 200) + "..." : "teste"))
                                    </p>
                                    <a class="btn btn-primary" href="@Url.Action("Post", "Home", new { id = item.Id }, Request.Url.Scheme)">Leia mais →</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div>
                    sem nada
                </div>
            }

        </div>
    </div>
</div>

@section scripts{

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

}