Using project 'C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj'.
Using startup project 'C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj'.
Writing 'C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\obj\TCC_System_Data.csproj.EntityFrameworkCore.targets'...
dotnet msbuild /target:GetEFProjectMetadata /property:EFProjectMetadataFile=C:\Users\qo1barboke\AppData\Local\Temp\tmp1b3a4g.tmp /verbosity:quiet /nologo C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj
Writing 'C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\obj\ConsoleApp1.csproj.EntityFrameworkCore.targets'...
dotnet msbuild /target:GetEFProjectMetadata /property:EFProjectMetadataFile=C:\Users\qo1barboke\AppData\Local\Temp\tmppzewju.tmp /verbosity:quiet /nologo C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj
Build started...
dotnet build C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj /verbosity:quiet /nologo /p:PublishAot=false
C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj]
C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1903: Package 'Newtonsoft.Json' 12.0.3 has a known high severity vulnerability, https://github.com/advisories/GHSA-5crp-9r3c-p9vr [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1902: Package 'System.IdentityModel.Tokens.Jwt' 6.7.1 has a known moderate severity vulnerability, https://github.com/advisories/GHSA-59j7-ghrg-fj52 [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj : warning NU1903: Package 'Microsoft.NETCore.App' 2.0.0 has a known high severity vulnerability, https://github.com/advisories/GHSA-7mfr-774f-w5r9
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj : warning NU1903: Package 'Microsoft.NETCore.App' 2.0.0 has a known high severity vulnerability, https://github.com/advisories/GHSA-7mfr-774f-w5r9
C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj]
C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1903: Package 'Newtonsoft.Json' 12.0.3 has a known high severity vulnerability, https://github.com/advisories/GHSA-5crp-9r3c-p9vr
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1902: Package 'System.IdentityModel.Tokens.Jwt' 6.7.1 has a known moderate severity vulnerability, https://github.com/advisories/GHSA-59j7-ghrg-fj52
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\Repository\ArduinoRepository.cs(36,49): warning CS1998: This async method lacks 'await' operators and will run synchronously. Consider using the 'await' operator to await non-blocking API calls, or 'await Task.Run(...)' to do CPU-bound work on a background thread. [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj]

Build succeeded.

C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj]
C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1903: Package 'Newtonsoft.Json' 12.0.3 has a known high severity vulnerability, https://github.com/advisories/GHSA-5crp-9r3c-p9vr [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1902: Package 'System.IdentityModel.Tokens.Jwt' 6.7.1 has a known moderate severity vulnerability, https://github.com/advisories/GHSA-59j7-ghrg-fj52 [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj : warning NU1903: Package 'Microsoft.NETCore.App' 2.0.0 has a known high severity vulnerability, https://github.com/advisories/GHSA-7mfr-774f-w5r9
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj : warning NU1903: Package 'Microsoft.NETCore.App' 2.0.0 has a known high severity vulnerability, https://github.com/advisories/GHSA-7mfr-774f-w5r9
C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj]
C:\Program Files\dotnet\sdk\8.0.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.Shared.targets(152,5): warning NETSDK1023: A PackageReference for 'NETStandard.Library' was included in your project. This package is implicitly referenced by the .NET SDK and you do not typically need to reference it from your project. For more information, see https://aka.ms/sdkimplicitrefs [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj]
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1903: Package 'Newtonsoft.Json' 12.0.3 has a known high severity vulnerability, https://github.com/advisories/GHSA-5crp-9r3c-p9vr
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Domain\TCC_System_Domain.csproj : warning NU1902: Package 'System.IdentityModel.Tokens.Jwt' 6.7.1 has a known moderate severity vulnerability, https://github.com/advisories/GHSA-59j7-ghrg-fj52
C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\Repository\ArduinoRepository.cs(36,49): warning CS1998: This async method lacks 'await' operators and will run synchronously. Consider using the 'await' operator to await non-blocking API calls, or 'await Task.Run(...)' to do CPU-bound work on a background thread. [C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj]
    11 Warning(s)
    0 Error(s)

Time Elapsed 00:00:16.13

Workload updates are available. Run `dotnet workload list` for more information.
Build succeeded.
dotnet exec --depsfile C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\bin\Debug\net8.0\ConsoleApp1.deps.json --additionalprobingpath C:\Users\qo1barboke\.nuget\packages --additionalprobingpath "C:\Program Files (x86)\Microsoft Visual Studio\Shared\NuGetPackages" --runtimeconfig C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\bin\Debug\net8.0\ConsoleApp1.runtimeconfig.json C:\Users\qo1barboke\.dotnet\tools\.store\dotnet-ef\8.0.8\dotnet-ef\8.0.8\tools\net8.0\any\tools\netcoreapp2.0\any\ef.dll migrations script --assembly C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\bin\Debug\net8.0\TCC_System_Data.dll --project C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\TCC_System_Data.csproj --startup-assembly C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\bin\Debug\net8.0\ConsoleApp1.dll --startup-project C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\ConsoleApp1.csproj --project-dir C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\ --root-namespace TCC_System_Data --language C# --framework net8.0 --working-dir C:\Users\qo1barboke\Desktop\Faculdade\TCC_System --verbose
Using assembly 'TCC_System_Data'.
Using startup assembly 'ConsoleApp1'.
Using application base 'C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1\bin\Debug\net8.0'.
Using working directory 'C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\Console\ConsoleApp1'.
Using root namespace 'TCC_System_Data'.
Using project directory 'C:\Users\qo1barboke\Desktop\Faculdade\TCC_System\TCC_System_Data\'.
Remaining arguments: .
Finding DbContext classes...
Finding IDesignTimeDbContextFactory implementations...
Finding application service provider...
Finding Microsoft.Extensions.Hosting service provider...
No static method 'CreateHostBuilder(string[])' was found on class 'Program'.
No application service provider was found.
Finding DbContext classes in the project...
Found DbContext 'TCC_Context'.
Using context 'TCC_Context'.
Finding design-time services for provider 'Microsoft.EntityFrameworkCore.SqlServer'...
Using design-time services from provider 'Microsoft.EntityFrameworkCore.SqlServer'.
Finding design-time services referenced by assembly 'ConsoleApp1'.
No referenced design-time services were found.
Finding IDesignTimeServices implementations in assembly 'ConsoleApp1'...
No design-time services were found.
DetectChanges starting for 'TCC_Context'.
DetectChanges completed for 'TCC_Context'.
Generating up script for migration '20240907020508_TCCMigration'.
Generating up script for migration '20240923012003_TCCMigration1'.
Generating up script for migration '20240925164356_TCCMigration2'.
Generating up script for migration '20241004194717_TCCMigration3'.
Generating up script for migration '20241012153132_TCCMigration4'.
Generating up script for migration '20241025210132_TCCMigration5'.
Generating up script for migration '20241029180810_TCCMigration6'.
Generating up script for migration '20241110171746_TCCMigration7'.
'TCC_Context' disposed.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;

GO

CREATE TABLE [AUTH_Claims] (
    [ClaimID] int NOT NULL IDENTITY,
    [RecordCreatedBy] VARCHAR(30) NULL,
    [RecordUpdatedBy] VARCHAR(30) NULL,
    [RecordCreationDate] DATETIME NULL,
    [RecordUpdateDate] DATETIME NULL,
    [NomeClaim] nvarchar(max) NULL,
    CONSTRAINT [PK_AUTH_Claims] PRIMARY KEY ([ClaimID])
);

GO

CREATE TABLE [AUTH_Users] (
    [Id] int NOT NULL IDENTITY,
    [RecordCreatedBy] VARCHAR(30) NULL,
    [RecordUpdatedBy] VARCHAR(30) NULL,
    [RecordCreationDate] DATETIME NULL,
    [RecordUpdateDate] DATETIME NULL,
    [Login] nvarchar(max) NULL,
    [Name] VARCHAR(200) NULL,
    [Email] nvarchar(max) NULL,
    [Password] nvarchar(max) NULL,
    [Language] int NOT NULL,
    [Ativo] bit NOT NULL,
    CONSTRAINT [PK_AUTH_Users] PRIMARY KEY ([Id])
);

GO

CREATE TABLE [AUTH_UserClaims] (
    [UsuarioID] int NOT NULL,
    [ClaimID] int NOT NULL,
    [RecordCreatedBy] VARCHAR(30) NULL,
    [RecordUpdatedBy] VARCHAR(30) NULL,
    [RecordCreationDate] DATETIME NULL,
    [RecordUpdateDate] DATETIME NULL,
    CONSTRAINT [PK_AUTH_UserClaims] PRIMARY KEY ([UsuarioID], [ClaimID]),
    CONSTRAINT [FK_AUTH_UserClaims_AUTH_Claims_ClaimID] FOREIGN KEY ([ClaimID]) REFERENCES [AUTH_Claims] ([ClaimID]) ON DELETE CASCADE,
    CONSTRAINT [FK_AUTH_UserClaims_AUTH_Users_UsuarioID] FOREIGN KEY ([UsuarioID]) REFERENCES [AUTH_Users] ([Id]) ON DELETE CASCADE
);

GO

CREATE INDEX [IX_AUTH_UserClaims_ClaimID] ON [AUTH_UserClaims] ([ClaimID]);

GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240907020508_TCCMigration', N'3.1.32');

GO

CREATE TABLE [MessageAction] (
    [Id] uniqueidentifier NOT NULL,
    [RecordCreatedBy] VARCHAR(30) NULL,
    [RecordUpdatedBy] VARCHAR(30) NULL,
    [RecordCreationDate] DATETIME NULL,
    [RecordUpdateDate] DATETIME NULL,
    [Type] VARCHAR(20) NOT NULL,
    [Action] VARCHAR(15) NOT NULL,
    CONSTRAINT [PK_MessageAction] PRIMARY KEY ([Id])
);

GO

CREATE TABLE [Produto] (
    [Id] uniqueidentifier NOT NULL,
    [RecordCreatedBy] VARCHAR(30) NULL,
    [RecordUpdatedBy] VARCHAR(30) NULL,
    [RecordCreationDate] DATETIME NULL,
    [RecordUpdateDate] DATETIME NULL,
    [Name] VARCHAR(100) NULL,
    [UserID] int NOT NULL,
    CONSTRAINT [PK_Produto] PRIMARY KEY ([Id])
);

GO

CREATE TABLE [Modulo] (
    [Id] uniqueidentifier NOT NULL,
    [RecordCreatedBy] VARCHAR(30) NULL,
    [RecordUpdatedBy] VARCHAR(30) NULL,
    [RecordCreationDate] DATETIME NULL,
    [RecordUpdateDate] DATETIME NULL,
    [Type] VARCHAR(20) NOT NULL,
    [Value] nvarchar(max) NULL,
    [ProductId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_Modulo] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Modulo_Produto_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Produto] ([Id]) ON DELETE CASCADE
);

GO

CREATE INDEX [IX_Modulo_ProductId] ON [Modulo] ([ProductId]);

GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240923012003_TCCMigration1', N'3.1.32');

GO

ALTER TABLE [Modulo] DROP CONSTRAINT [FK_Modulo_Produto_ProductId];

GO

ALTER TABLE [Modulo] DROP CONSTRAINT [PK_Modulo];

GO

EXEC sp_rename N'[Modulo]', N'Ardu_Modulo';

GO

EXEC sp_rename N'[Produto].[UserID]', N'UserId', N'COLUMN';

GO

EXEC sp_rename N'[Ardu_Modulo].[IX_Modulo_ProductId]', N'IX_Ardu_Modulo_ProductId', N'INDEX';

GO

ALTER TABLE [Ardu_Modulo] ADD CONSTRAINT [PK_Ardu_Modulo] PRIMARY KEY ([Id]);

GO

ALTER TABLE [Ardu_Modulo] ADD CONSTRAINT [FK_Ardu_Modulo_Produto_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Produto] ([Id]) ON DELETE CASCADE;

GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240925164356_TCCMigration2', N'3.1.32');

GO

ALTER TABLE [MessageAction] ADD [ProjectID] uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000';

GO


GO

ALTER TABLE [MessageAction] ADD [Active] bit NOT NULL DEFAULT CAST(0 AS bit);

GO

ALTER TABLE [Ardu_Modulo] ADD [Active] bit NOT NULL DEFAULT CAST(0 AS bit);

GO


GO

CREATE TABLE [Blog_Post] (
    [Id] uniqueidentifier NOT NULL,
    [RecordCreatedBy] VARCHAR(30) NULL,
    [RecordUpdatedBy] VARCHAR(30) NULL,
    [RecordCreationDate] DATETIME NULL,
    [RecordUpdateDate] DATETIME NULL,
    [Title] VARCHAR(100) NULL,
    [Body] nvarchar(max) NULL,
    [UserId] int NOT NULL,
    CONSTRAINT [PK_Blog_Post] PRIMARY KEY ([Id])
);

GO


GO

ALTER TABLE [Ardu_Modulo] ADD [Image] varbinary(max) NULL;

GO


GO

ALTER TABLE [Produto] ADD [NId] int NOT NULL IDENTITY;

GO


GO


